h1 {
    color: rgb(0, 0, 0);
    text-align:center;
    text-shadow: 1px 1px;
  }

h1 span {
    opacity: 0.9;
    /*background-color: rgb(126, 126, 121);*/
}

h2 {
    color: rgb(2, 2, 2);
    text-align:center;
  }

h4 {
    color: rgb(2, 2, 2);
    text-align:center;
  }

ul.home, ul.email{
    color:rgb(42, 42, 46);
    opacity: 1;
    /*background-color: rgb(126, 126, 121);*/
}

/*Jumbotorn home*/
.jumbotron-home {
    background-image: url("news.jpg");
    color:white;
    background-attachment: fixed;
    min-height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    }  
    
/*Jumbotorn email*/

.jumbotron-email {  
    background-image: url("email.jpg");
    color:white;
    background-attachment: fixed;
    min-height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Card email*/
.card{
    align-items: center;
    margin-left: 33%;
}

.card-title-email{
    color: whitesmoke
}

/*Submit bottom*/
.btn {
    color: rgb(3, 3, 0);
    background-color: rgb(196, 95, 2);
    text-align: center;
    width: 10em;  height: 2em;
}

.btn:hover {
    background-color: #111;
    }

.control-label{
    color:black;
}

.form-control{
    background-color: rgb(211, 208, 207);
    opacity: 0.9;
    border-color: rgba(13, 14, 12, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(46, 49, 45, 0.6);
    outline: 0 none;
}

/*NAVIGATION BAR*/
ul.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li.nav-item
    {
        float: left;
    }

li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}


/*Center emial card*/

.card text-white bg-dark mb-3{
    text-align: center;
}
