h1 {
    text-align: center;
    margin: 0px auto;
}

body {
    background-image: url("{{ url_for ('static', filename='images/javier.jpg')}}");
}

.test{
    display: block;
    width: 300;
    height: 300;
    background: purple;
}