{% extends 'layouts.html'%}
{% block content%}
<div class="jumbotron-email">
    <h2 class="display-4"> <b>Send Mail</b> </h2>
    <br>
    <ul class="email">
      <li> <h5><b>You will recieve an email from the account tracker.news.web@gmail.com.</b></h5> </li>
      <li> <h5><b>Your email account WILL NOT be stored. </b></h5></li>
      <li> <h5><b>Before submitting your email account, you must have sent the request with the company name. Otherwise, the email will be blank.</b></h5> </li>
    </ul>

    <div class="card text-white bg-dark mb-3" style="width:30rem;">
        
            <div class="card-body">
            <h4 class="card-title-email">EMAIL</h4>
            <p class="card-text">Enter your email and hit the send email button.</p>
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name=email id="exampleInputEmail1" placeholder="name@example.com" aria-describedby="emailHelp">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Send Email</button>
            </form>  
            </div>
        
      </div>
</div>


{%endblock content%}