{% extends 'layouts.html'%}
{% block content%}
<!--h1>{{title}}</h1-->

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Company Tracker</h1>
    <br>
    <p class="lead"> The news are retrieved from 
        the NewsApi developed by Google. Please enter a company name and an email address. 
        After the appplication is executed, an email will be sent and a podcast will be generated to listen to
        the summary of the news.</p>
    <ul>
      <li> News are retrieved from Google News API and thery are filtered out by relevancy.</li>
      <li> By default the application returns the 10 most important news from the last two weeks. </li>
      <li> Enter a valid email address and an email with the summary of the news article and the links will be sent to you from tracker.news.web@gmail.com.</li>
      <li> Enter the company name you would like to be updated with.</li>
    </ul>
</div>


   <form method="post">
    <!--div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name=email id="exampleInputEmail1" placeholder="name@example.com" aria-describedby="emailHelp">
        <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div-->
    <div class="form-group">
        <label for="exampleCompanyName">Company Name</label>
        <input type="text" name=company_name class="form-control" id="company_name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{%endblock content%}
