{% extends 'layouts.html' %}
{% block content%}
<div class="jumbotron">
    <h2 class="display-4">Generate WordCloud Image</h2>
    <br>
    <p class="lead"> This section is used analyze the words with higher frequency to get e grasp of what´s happened with the company that you selected.</p>
    <ul class="list-group">
    </ul>
    <form method="post">
        <button type="submit" class="btn btn-primary">Get Word Cloud</button>
    </form>
    <br>
    {% if image_file is not none%}
        <img src="{{image_file}}" class="rounded mx-auto d-block" alt="Responsive image">
    {% else %}
        <p>Submit a company name and then plot the WordCloud</p>
    {% endif %}
</div>



{%endblock content%}