h1 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}


input[type=text] {
    width: 1000%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }